.register-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    margin-top: 100px;
}


.centered-container1 {
    display: flex;
    justify-content: space-between;
    /* Allinea gli elementi orizzontalmente */
    align-items: center;
    max-width: 700px;
    width: 90%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.register-title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 20px;
}

.input-field {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.input-field:focus {
    border-color: #007bff;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.register-video {
    width: 40%;
    /* Regola la larghezza del video */
    max-width: 400px;
    /* Imposta una larghezza massima per il video */
    height: auto;
    /* Imposta l'altezza automatica per mantenere l'aspetto proporzionato */
}

.video {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}