/* Footer.css */

.footer {
    background-color: #44546a;
    color: #fff;
    padding: 20px 0;
    /* Riduci ulteriormente il padding in alto e in basso */
    margin-top: 50px;
    /* Riduci lo spazio superiore */
    font-size: 14px;
    /* Riduci la dimensione del testo */
}

.footer-section {
    margin-bottom: 15px;
    /* Riduci lo spazio tra le sezioni del footer */
}

.footer-section h5 {
    font-size: 16px;
    /* Riduci leggermente la dimensione del titolo */
    margin-bottom: 10px;
    /* Riduci lo spazio inferiore del titolo */
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    font-size: 20px;
    /* Riduci leggermente la dimensione delle icone social */
    color: #fff;
    margin-right: 10px;
    /* Riduci lo spazio tra le icone social */
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #ffc107;
    /* Cambia colore al passaggio del mouse */
}

/* Stili aggiuntivi per rendere i link più visibili */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ffc107;
}