.house-card {
    text-decoration: none;
    display: block;
}

.card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    transform: translateY(-8px);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    /* Riduco la dimensione del titolo */
    margin-bottom: 10px;
    /* Riduco il margine inferiore del titolo */
    color: #333;
}

.title-with-like {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-details {
    display: flex;
    flex-direction: column;
}

.detail {
    margin-bottom: 5px;
}
.detail-label {
    font-weight: bold;
    margin-bottom: 5px;
    
}

.detail-value {
    color: #555;
    margin-bottom: 0;
    font-family: 'Airbnb Cereal App', sans-serif;
}

.detail-value1 {
    color: #908e8e;
    margin-bottom: 0;
    font-family: 'Airbnb Cereal App', sans-serif;
}

.like-button {
    cursor: pointer;
}

/* Riduci la dimensione dell'icona del cuore */
.like-button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: transparent;
    /* Riempimento trasparente */
    stroke: #ccc;
    /* Contorno grigio chiaro */
    stroke-width: 2;
    /* Spessore del contorno */
}

.like-button svg.fill-red-600 {
    fill: red;
    /* Riempimento rosso quando ha il like */
    stroke: red;
    /* Contorno rosso quando ha il like */
}

@media (max-width: 768px) {
    .house-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* 2 card per riga su schermi più piccoli */
    }
}