    .navbar {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        background: linear-gradient(to right, #44546a, #ffffff);
        transition: background-color 0.3s ease;
        position: fixed;
        
        
        /* Ajusta la altura del navbar según sea necesario */
    }

.navbar-brand {
    color: #1f3a93;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px; /* Ajustar el margen derecho para separar el título del resto del contenido */
}

    .navbar.scrolled {
        background: linear-gradient(to right, #44546a, #ffffff);
        /* Assicurati che il gradiente rimanga lo stesso durante lo scrolling */
    }

    .navbar-brand {
        color: #1f3a93;
        font-size: 24px;
        font-weight: bold;
    }

    .navbar-logo {
        width: 150px;
        height: auto;
        border-radius: 3px;
    }

    .navbar-toggler {
        border: none;
        outline: none;
    }

    .nav-link {
        color: #343a40;
        font-size: 18px;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .nav-link:hover {
        color: #044eb6;
    }

    .navbar-nav li {
        margin-right: 15px;
    }

    .navbar-nav li:last-child {
        margin-right: 0;
    }

    .profile-icon-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-icon {
        width: 100%;
        height: auto;
    }