.search-bar-container {
    padding-top: 20px;
    margin-top: 80px;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input,
.date-input,
.price-input {
    flex-grow: 1;
    border: none;
    background: none;
    font-size: 14px;
    outline: none;
}

.people-input {
    width: 100px; /* Larghezza ridotta per il campo "People" */
    padding: 6px; /* Riduci lo spazio interno solo per il campo "People" */
    border: none;
    background: none;
    font-size: 16px;
    outline: none;
}

.price-inputs {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.search-btn,
.clear-btn {
    padding: 10px 20px;
    border: none;
    background-color: #ff385c;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover,
.clear-btn:hover {
    background-color: #ff2b4b;
}

.clear-btn {
    margin-left: 20px;
    background-color: #6c757d;
}

.date-input {
    margin-top: 20px;
}