
.input-group {
    width: 80%; /* Puedes ajustar este valor según tus necesidades */
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajusta la altura según tus necesidades */
}

.input-group input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px; /* Puedes ajustar el tamaño de la fuente según tus necesidades */
}

.input-group button {
    margin-left: 10px;
    font-size: 16px; /* Puedes ajustar el tamaño de la fuente según tus necesidades */
}

@media (min-width: 968px) {
    .input-group {
        max-width: 600px;
    }

    .input-group input {
        width: auto;
        margin-bottom: 0;
    }
}
